body {
    /*
    margin: 2em auto auto auto;
    max-width: 75%;
    */
    font-family: sans-serif;
}

a {
    color: #373737c3;
}

textarea {
    min-width: 12em;
    max-width: 36em;
    min-height: 2em;
    field-sizing: content;
}

.comments {
    list-style-type: none;
}

.home_icon {
    color: black;
    text-decoration: none;
}