{% extends "layout.html" %}

{% block title %}Radera inlägg{% endblock %}
{% block content %}

<h2>Radera inlägget <i>{{ post.title }}</i>?</h2>
<p>
  Är du säker att du vill radera ditt inlägg?<br>
  Detta kan inte ångras senare.
</p>

<form action="/delete_post/{{ post.post_id }}" method="post">
  <input type="submit" name="delete" value="Radera" />
  <input type="submit" name="back" value="Ångra" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>

{% endblock %}
