{% extends "layout.html" %}

{% block title %}Redigera inlägg{% endblock %}
{% block content %}

<div class="page"> <div class="page_context">

<h2>Redigera <a class="title_link" href="/post/{{ post.post_id }}">{{ post.title }}</a></h2>
<form action="/edit" method="post">
  <p>
    Titel: <br />
    <input type="text" name="title" value="{{ post.title }}" 
    maxlength="{{ title_max }}" required/>
  </p>
  <!-- TODO: Auto-select previous radio option -->
  <p>
    Sov du gott? <br />

    <input type="range" id="sleep_quality" name="sleep_quality"
    min="1" max="5" step="1" value="{{ post.sleep_quality }}">
  </p>
  <p>
    Vad drömde du om? <br />
    <textarea name="dream" rows="10" cols="64" 
    maxlength="{{ dream_max }}">{{ post.dream }}</textarea>
  </p>
  <input type="hidden" name="post_id" value="{{ post.post_id }}" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Uppdatera" />
</form>
</div> </div>

{% endblock %}
