{% extends "layout.html" %}

{% block title %}Sömnapp &mdash; Framsida{% endblock %}
{% block content %}

<div class="index">
  Det finns {{ user_count }} användare 
  och {{ post_count }} inlägg. <br>
  <a href="/search">Sök efter inlägg</a>

<p><select name="filter">
  <option value="new">Nyaste</option>
  <option value="popular">Populära</option>
  <option value="feed">Vänner</option>
</select></p>
</div>

<h2></h2>
{% for post in posts %}
  <div class="post_preview">
    <div class="post_title{{'_padded' if post.preview else ''}}">
      <a class="p_title" href="/post/{{ post.id }}">{{ post.title }}</a> 
      <span class="p_poster"> 
        av <a class="p_link" href="/user/{{ post.user_id }}">
          {{ post.username }}</a>
      </span>
    </div>
    <div>
      {{ post.preview }}
    </div>
  </div>
{% endfor %}
</ul>

{% endblock %}
