<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8">
</head>

<body>
  <div class="nav">
    <h1><a class="home_icon" href="/">Sömnapp</a></h1>
    
    {% if session.user_id %}
      <p>
        <a href="/draft">Nytt inlägg</a> |
        <a href="/logout">Logga ut</a>
      </p>
    {% else %}
      <p>
        <a href="/register">Skapa konto</a> |
        <a href="/login">Logga in</a>
      </p>
    {% endif %}
  </div>

  {% block content %}{% endblock %}
</body>

</html>
