{% extends "layout.html" %}

{% block title %}{{ post.title }} av {{ post.username }}{% endblock %}
{% block content %}

<div class="page"> <div class="page_context"></div>
<h2>{{ post.title }}</h2> 
av <a href="/user/{{ post.username }}">{{ post.username }}</a>

<p></p>
{% if categories %}
<div class="categories">
  {% for cat in categories %}
    <b>{{ cat.0 }}</b>: {{ cat.1 }}
  {% endfor %}
</div>
{% endif %}

<b>Sömnkvalitet</b>: {{ quality }}
<p>{{ post.dream | show_lines }}</p>

<div class="info">
  {% if tags %}
  <div class="tags">
    {% for tag in tags %}
      #{{ tag.tag }}
    {% endfor %}
  </div>
  {% endif %}

  <div class="likes">
  <form action="/like" method="post">
    <input type="hidden" name="post_id" value="{{ post.post_id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="toggle_like" 
      value="{{ '</3' if is_liked else '<3' }}" />
    {{ likes | count }} användare gillar detta
  </form> </div>
</div>

{% if session.user_id == post.user_id %}
<div class="controls">
  <a href="/edit_post/{{ post.post_id }}">Redigera</a>
  <a href="/delete_post/{{ post.post_id }}">Radera</a>
</div>
{% endif %}

<h3>Kommentar</h3>

{% if comments %}
  <div class="info">
    Det finns {{ comments | count }} kommentar.
  </div>
{% endif %}

<form action="/comment" method="post">
  <textarea name="comment" rows="1" cols="45" maxlength="320"
  placeholder="Kommentera något..." required></textarea> 
  <br />
  <input type="hidden" name="post_id" value="{{ post.post_id }}" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="submit" value="Publicera" />
</form>

{% if comments %}
  <div class="comments">
  {% for comment in comments %}
  <div class="comment">
    <div class="username">
      <a href="/user/{{ comment.username }}">
        {{ comment.username }}
      </a> </div>

    <div class="content" id="{{ comment.comment_id }}">
      {{ comment.content }}
    </div>
  </div>
  {% endfor %}
  </div>
{% else %}
<p>
  Inga kommentar ännu...
</p>
{% endif %}
<br /><a href="/">Tillbaka</a>
</div> </div>

{% endblock %}