{% extends "layout.html" %}

{% block title %}Registrera{% endblock %}
{% block content %}

<form action="/create_user" method="post">
  <p>
    Användarnamn: <br />
    <input type="text" name="username" maxlength="{{ username_max }}" 
    pattern="[a-zA-Z0-9]+" required/>
  </p>
  <p>
    Lösenord: <br />
    <input type="password" name="password1" required />
  </p>
  <p>
    Lösenord igen: <br />
    <input type="password" name="password2" required />
  </p>
  <input type="submit" value="Skapa" />
</form>

{% endblock %}
