{% extends "layout.html" %}

{% block title %}Sök efter inlägg{% endblock %}
{% block content %}

<h2>Sök efter inlägg</h2>

<form action="/search" method="get">
  <p>
    Sökord: <input type="text" name="q" value="{{ q }}">
  </p>
  <p>
    Sömnkvalitet: 
    <select name="by_quality">
      <option value="none">(ingen skillnad)</option>
      <option value="bra">bra</option>
      <option value="meh">meh</option>
      <option value="dålig">dålig</option>
    </select>
  </p>
  <input type="submit" name="find" value="Sök">
  <a href="/">Tillbaka</a>
</form>

{% if q or filter %}
<h3>Inlägg</h3>
  {% if results and results|length > 0 %}
  <ul>
    {% for post in results %}
      <li>
        <a href="/post/{{ post.id }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    Inga sökresultat hittades.
  {% endif %}
{% endif %}

{% endblock %}
