{% extends "layout.html" %}

{% block title %}Användare {{ user.username }}{% endblock %}

{% block content %}
<div class="page">
  
<div class="profile">
  <h2>Användare {{ user.username }}</h2>
    {% if user.id != session.user_id %}
    <p>
      {% if following %}
        <form method="post" action="/unfollow/{{ user.id }}">
          <button type="submit">Sluta följa</button>
          
          <input type="hidden" name="csrf_token" 
          value="{{ session.csrf_token }}" />
        </form>
      {% else %}
        <form method="post" action="/follow/{{ user.id }}">
          <button type="submit">Följ</button>
          
          <input type="hidden" name="csrf_token"
          value="{{ session.csrf_token }}" />
        </form>
      {% endif %}
    </p>
    {% endif %}

  <!--
  <div class="image">
    nyi    
  </div>
  -->

  <div class="user_data">
    {% for d in data %}
      <div class="data">
        {{ data[d] }}
    {% endfor %}
    
        | {{ posts | count }} inlägg
        |  {{ followers | count }} följare    
      </div>
  </div>
  
  <nav class="tabs">
    <a href="/user/{{ user.username }}?tab=posts">Inlägg</a>
    | <a href="/user/{{ user.username }}?tab=comments">Kommentar</a>
    | <a href="/user/{{ user.username }}?tab=likes">Gillade inlägg</a>
  </nav>

  <h3>Följare</h3>
    {% for user in followers %}
      <a href="/user/{{ user.username }}">{{ user.username }}</a>
    {% endfor %}
</div>

<div class="user_context">
{% if tab == "comments" %}
  <h3>Kommentar</h3>
  {% if comments %}
    {% for comment in comments %}
      <div class="comment">
        <span class="context">Kommentar på </span>
        <a class="title" 
        href="/post/{{ comment.post_id }}#{{ comment.comment_id }}">
          {{ comment.post_title }}
        </a> 
        <p>
          {{ comment.content }}
        </p>
      </div>
    {% endfor %}
  {% else %}
    Inga kommentar.
  {% endif %}

{% elif tab == "likes" %}
  <h3>Gillade inlägg</h3>
  {% if liked_posts %}
    {% for post in liked_posts %}
    <div class="post">
      <div class="title">
        <a class="p_title" href="/post/{{ post.post_id }}"
        >{{ post.title }}</a>
        <span class="p_poster">
          av <a class="p_link" href="/user/{{ post.username }}">
            {{ post.username }}
          </a>
        </span>
      </div>
      <div class="content">
        {{ post.dream | show_lines }}
      </div>
    </div>
    {% endfor %}
  {% else %}
    Inga gillade inlägg.
  {% endif %}

{% else %}
<h3>Inlägg</h3>
  {% if posts %}
    {% for post in posts %}
    <div class="post">
      <div class="title">
        <a class="p_title" href="/post/{{ post.id }}"
        >{{ post.title }}</a>
      </div>
      <div class="content">
        {{ post.dream | show_lines }}
      </div>
    </div>
    {% endfor %}
  {% else %}
    Inga inlägg.
  {% endif %}
{% endif %}
</div>

</div> </div>

{% endblock %}
